html {
  background-color: #C633F4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  display: block;
  text-align: center;
}

.header .nickName {
  margin: 20px;
  padding: 5px 15px;
  border-radius: 17px;
  border-style: solid;
  outline: none;
}

.buttonStyle {
  display: block;
  padding: 7px 20px;
  border-radius: 25px;
  border-style: none;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .5s;
  margin: 10px;
}

.buttonStyle:hover {
  background-image: linear-gradient(45deg, #FFCC00 0%, #f76a35 100%);
}