html {
  background-color: #FFFFFF;
  
}

body {
  height: 500px;
  width: 700px;
}

body #root .signPage {
  
  text-align: center;
  margin:auto;
}

body #root .signPage input.nickName {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  margin-left: 150px;
  margin: 20px;
  padding: 5px 15px;
  border-radius: 17px;
  border-style: solid;
  outline: none;
}

body #root .signPage .buttonStyle {
  display: block;
  position: absolute;
  width: 139px;
  height: 44px;
  margin: auto;
  color: #FFFFFF;
  border-style: none;

  background: linear-gradient(264.28deg, #7D34F8 0%, rgba(243, 44, 225, 0.8) 100%);
  box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

body #root .signPage .buttonStyle:hover {
  background: linear-gradient(264.28deg, #F32CE1 0%, rgba(125, 52, 248, 1) 100%);
}